.block-form {
  display: flex;
  flex-direction: column;
  gap: 34px;

  &__title {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    font-family: var(--font-second), sans-serif;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__main-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__action {
    display: flex;
    justify-content: center;
  }
}
